* {
    transition: all 1s ease;
}

html {
    background-color: #406E8E;
    color: #6c757d;
}

.textCenter {
    text-align: center;
}

.userInput {
    margin: 0 5% !important;
}

input {
    background-color: #161625 !important;
    color: #6c757d !important;
}

input::placeholder {
    color: #6c757d !important;
}

.heading {
    margin: 30px 0;
    text-transform: none;
}

.result {
    min-height: 60vh;
}

.lyrics, pre {
    background-color: #161625;
    color: #6c757d;
}

.error {
    color: red;
}

#version {
    color: #ffdd57;
}

.response {
    margin: 0 10px;
    background-color: #8EA8C3;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #41414e;
}

.creator {
    color: #161625;
    margin-bottom: 30px;
}